body {
    text-align: center;
}

.js-message {
    color: red;
}

.row {
    display: inline-block;
    padding: 0 10px;
}

.title {
    color: cadetblue;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 36px;
}